{% extends "templates/page.html" %}

{% block page__content %}
  <h1>Hello</h1>

  <h2>Fancybox examples</h2>
  <p>
    <a href="https://farm4.staticflickr.com/3953/15594397982_477385f90d_b_d.jpg"  class="fancybox">
      Просто картинка
    </a>
  </p>

  <p>
    Галерея:
    <a data-fancybox="gallery-1" href="https://farm4.staticflickr.com/3953/15594397982_477385f90d_b_d.jpg"  class="fancybox">1</a>
    <a data-fancybox="gallery-1" href="https://c1.staticflickr.com/9/8148/29324593462_abebaddc38_k.jpg"  class="fancybox">2</a>
  </p>

  <p>
    <a class="fancybox" data-src="#hidden-content" href="">
      Inline html
    </a>
    <span id="hidden-content" hidden>Hidden content</span>
  </p>

  <p>
    <a href="#" data-type="iframe" data-src="http://codepen.io/fancyapps/full/jyEGGG/" class="fancybox">
      Любая ссылка в iframe
    </a>
  </p>

  <p>
    <a class="fancybox" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
      YouTube video
    </a>
  </p>

  <p>
    <a class="fancybox" href="https://vimeo.com/191947042">
      Vimeo video
    </a>
  </p>

  <p>
    <a class="fancybox" href="https://www.google.com/maps/place/Googleplex/@37.4220041,-122.0833494,17z/data=!4m5!3m4!1s0x0:0x6c296c66619367e0!8m2!3d37.4219998!4d-122.0840572">
      Google Map
    </a>
  </p>

  <p>
    <a class="fancybox" href="https://www.instagram.com/p/BNXYW8-goPI/?taken-by=jamesrelfdyer" data-caption="Caption">
      Instagram photo
    </a>
  </p>
{% endblock page__content %}
